@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    
}

html, body {
    overflow-x: hidden;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-bin img {
    width: 25px;
    height: 25px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.links-header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.links-header li {
    margin-left: 20px;
}

.links-header a {
    text-decoration: none;
    color: #333;
}

@media (max-width: 768px) {
    .logo {
        flex: 1;
    }
    .logo img {
        max-width: 80px;
    }

    .menu-toggle {
        display: flex;
        flex: 1;
        justify-content: flex-end;
    }

    .links-header ul {
        flex-direction: column;
        display: none;
        position: fixed;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 10px;
        border-radius: 4px;
        width: calc(100% - 40px);
        max-width: 300px;
        animation: slideDown 0.3s ease-in-out;
    }

    .links-header.show ul {
        display: flex;
    }

    .links-header li {
        margin: 10px 0;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-20px) translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    background: #333;
    height: 2px;
    width: 25px;
    margin: 4px 0;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }
}
main {
    background-color: #ffffff; 
    min-height: 100vh; 
}
.intro-section {
    background: url('./components/img/section-logo.png') no-repeat center center/cover; 
    padding: 100px 20px;
    color: #fff;
    text-align: center;
}

.intro-content {
    max-width: 800px;
    margin: 0 auto;
}

.intro-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.intro-content p {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.products {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.products h2 {
    margin-bottom: 30px;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    font-size: 1.5em;
    margin: 15px;
}

.card p {
    font-size: 1em;
    margin: 15px;
}

.card .price {
    font-weight: bold;
    margin: 15px;
}

.btn {
    display: block;
    width: calc(100% - 30px);
    margin: 15px;
    padding: 10px;
    background-color: #5eca04;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #75ee0f;
}

.about-us {
    padding: 50px 20px;
    background-color: #ffffff;
    text-align: center;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #333;
}

.about-content p:last-child {
    margin-bottom: 0;
}

.news {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.news-content {
    max-width: 1200px;
    margin: 0 auto;
}

.news h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.news p.description {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #333;
}

.card-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 50px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 10px 20px;
    min-width: 200px;
}

.footer-section h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 1em;
    line-height: 1.6;
}

        .footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #0c63c4;
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
}

.Page-notfound {
    text-align: center;
    margin-top: 200px;
    font-size: 30px;
    color: red;
}