@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    
}

html, body {
    overflow-x: hidden;
}

main {
    background-color: #ffffff; 
    min-height: 100vh; 
}
.intro-section {
    background: url('./components/img/section-logo.png') no-repeat center center/cover; 
    padding: 100px 20px;
    color: #fff;
    text-align: center;
}

.intro-content {
    max-width: 800px;
    margin: 0 auto;
}

.intro-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.intro-content p {
    font-size: 1.5em;
    margin-bottom: 40px;
}

.products {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9;
}

.products h2 {
    margin-bottom: 30px;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: left;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: auto;
}

.card h3 {
    font-size: 1.5em;
    margin: 15px;
}

.card p {
    font-size: 1em;
    margin: 15px;
}

.card .price {
    font-weight: bold;
    margin: 15px;
}

.btn {
    display: block;
    width: calc(100% - 30px);
    margin: 15px;
    padding: 10px;
    background-color: #5eca04;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #75ee0f;
}

.about-us {
    padding: 50px 20px;
    background-color: #ffffff;
    text-align: center;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-content h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #333;
}

.about-content p:last-child {
    margin-bottom: 0;
}

.news {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.news-content {
    max-width: 1200px;
    margin: 0 auto;
}

.news h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.news p.description {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #333;
}

.card-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.Page-notfound {
    text-align: center;
    margin-top: 200px;
    font-size: 30px;
    color: red;
}